<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/post.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">

    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body id="post_body">
    <%- include("../common/header") %>

    <% if(nav=="program"){ %>
        <%- include("../page/program_nav") %>
    <% } else if (nav=="project") { %>
        <%- include("../page/project_nav") %>
    <% } else{ %>
        <%- include("../page/study_nav") %>
    <% } %>
    
    <%- include("../post/form") %>

        <!-- 
            <div class="background">
                <div class="popup">
                    <p id="x" class="close">X</p>
                    <br>
                    <p id="notice">글 게시 후 모집 기간, 모집 현황을 제외한 삭제, 수정이 불가능합니다.</p>
                    <form action="/page/<%=nav %>/<%=form %>/post/1" method="post">
                        <button id="btn" class="show post blue redirect">게시</button>
                    </form>
                    <button id="btn" class="close cancel red">취소</button>
                </div>
            </div>
        -->

        </main>

        <!--
        <script src="/javascripts/post.js"></script>

        -->
</body>

</html>