<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/post_detail.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body id="detail_body">
    <%- include("../common/header") %>

    <% if(nav=="program"){ %>
        <%- include("../page/program_nav") %>
    <% } else if (nav=="project") { %>
        <%- include("../page/project_nav") %>
    <% } else if (nav=="study"){ %>
        <%- include("../page/study_nav") %>
    <% } %>
     
        <main id="detail_main">

            <div>
                <h1><%=data?.title%></h1>
                <p class="list"><a href="/page/<%=nav %>/<%=form %>" id="list_link">목록으로</a></p>
            </div>


            <div id=write>

                <img src="https://drive.google.com/uc?export=view&id=16_C2wBgGNmz4uY8XmkkjAZmMdaFtiGWb" alt="" id="pic">

                <p id="short" class="contents">
                    한줄설명: <%=data?.short%>
                </p>

                <% if(class_info){ %>
                    <p id="class_info" class="contents">
                            학수번호: <%=data?.class_info%>
                    </p>
                <% } %>

                <% if(subject){ %>
                    <p id="subject" class="contents">
                        분야: <%=data?.subject%>
                    </p>
                <% } %>

                 <p id="current_num" class="contents">
                     현재 팀원 수: <%=data?.current_num%>
                </p>

                <p id="num" class="contents">
                 모집 인원: <%=data?.recruit_num%>
                </p>

                <p id="Period" class="contents">
                    모집 기간: <%=data?.recruit_start_date%> ~ <%=data?.recruit_end_date%>
                </p>

                <% if(position){ %>

                    <p id="position" class="contents">
                        모집 포지션: <%=data?.position%>
                    </p>
                <% } %>

                <p id="Activity_period" class="contents">
                   활동 기간: 
                   <% if(TBD==true){ %>
                    추후 결정
                    <%} else{%>
                        시작일 <%=data?.start_date%>/ 마감일 <%=data?.end_date%>
                    <%}%>
                </p>

                <p id="goal" class="contents">
                    목표: <%=data?.goal%>
                </p>

                <p id="file" class="contents">
                파일 첨부: <%=data?.attachment%>
                </p>

                <p id="description" class="contents">
                    상세 설명: <%=data?.description%>
                <br>
                </p>

            </div>

            <% if(isWriter){ %>

                <div id="profile">
                    <img src="https://drive.google.com/uc?export=view&id=16_C2wBgGNmz4uY8XmkkjAZmMdaFtiGWb" alt="" id="icon"> 닉네임
                    <p>
                        모집 기간 <br>
                        <%=data?.recruit_start_date%> ~ <%=data?.recruit_end_date%>
                    </p>
                    <p>
                        모집 현황 <br>
                        <%=data?.current_num%> / <%=data?.recruit_num%>
                    </p>
                    <button id="btn_edit" class="btn blue">수정하기</button>
                    <button id="btn_public" class="btn red">비공개로 변경</button>
                </div>

            <% } else { %>
                    <div id="profile">
                        리더 프로필
                        <br>
                        <img src="https://drive.google.com/uc?export=view&id=16_C2wBgGNmz4uY8XmkkjAZmMdaFtiGWb" alt="" id="icon"> 닉네임
                        <p>
                            모집 기간 <br>
                            <%=data?.recruit_start_date%> ~ <%=data?.recruit_end_date%>
                        </p>
                        <p>
                            모집 현황 <br>
                            <%=data?.current_num%> / <%=data?.recruit_num%>
                        </p>
                        <button id="btn_apply" class="btn blue">지원하기</button>
                    </div>

                    <div id="team">
                        현재 팀원 <br>
                        <img src="https://drive.google.com/uc?export=view&id=16_C2wBgGNmz4uY8XmkkjAZmMdaFtiGWb" alt="" id="icon"> 닉네임 포지션 <br>
                        <img src="https://drive.google.com/uc?export=view&id=16_C2wBgGNmz4uY8XmkkjAZmMdaFtiGWb" alt="" id="icon"> 닉네임 포지션
                    </div>
                <% } %>


        </main>

        <script src="/javascripts/post_detail.js"></script>

</body>

</html>