<% for(subject in post_intro) { %>
    <div class="recent_post_slides">
        <div class="post_category_head">
            <div class="post_category_title">
                <%= subject %>
            </div>
            <a href="/page/<%= subject %>" class="more_post">더보기</a>
        </div>
        <div class="slide_wrap">
            <button class="slideLeft" type="button">
                <i class="arrow left"></i>
            </button>
            <% for(post of post_intro[subject]) { %>
                <a class="recent_post">
                    <div class="post-cover">
                        <div class="post-info">
                            <span class="post_description">
                                <%= post.description %>
                            </span>
                        </div>
                    </div>
                    <img src="https://picsum.photos/320/240" alt="">
                    <div class="post_info">
                        <span class="post_title">
                            <%= post.title %>
                        </span>
                        <span class="team_member">
                            <%= post.current_member %> / <%= post.max_member %>
                        </span>
                    </div>

                </a>
                <% } %>
                    <button class="slideRight" type="button"><i class="arrow right"></i></button>
        </div>

    </div>
    <% } %>